<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hplatform.test.mapper.ClassInfoMapper" >
	<sql id="columns">
		cls.id AS clsid,
		cls.class_name AS clsclassName,
		cls.floor AS clsfloor,
		cls.create_user AS clscreateUser,
		cls.update_user AS clsupdateUser,
		cls.create_date AS clscreateDate,
		cls.update_date AS clsupdateDate,
		stu.id AS stuid,
		stu.cls_id AS stuclsId,
		stu.stu_name AS stustuName,
		stu.age AS stuage,
		stu.sex AS stusex,
		stu.create_user AS stucreateUser,
		stu.update_user AS stuupdateUser,
		stu.create_date AS stucreateDate,
		stu.update_date AS stuupdateDate
	</sql>
	<resultMap id="classInfoResultMap" type="ClassInfo">
	    <id column="clsid" property="id" />
		<result column="clsclassName" property="className" />
		<result column="clsfloor" property="floor" />
		<result column="clscreateUser" property="createUser" />
		<result column="clsupdateUser" property="updateUser" />
		<result column="clscreateDate" property="createDate" />
		<result column="clsupdateDate" property="updateDate" />
	    <collection property="stuInfoList" javaType="list" ofType="StuInfo">
	        <id column="stuid" property="id" />
			<result column="stuclsId" property="clsId" />
			<result column="stustuName" property="stuName" />
			<result column="stuage" property="age" />
			<result column="stusex" property="sex" />
			<result column="stucreateUser" property="createUser" />
			<result column="stuupdateUser" property="updateUser" />
			<result column="stucreateDate" property="createDate" />
			<result column="stuupdateDate" property="updateDate" />
	    </collection>
	</resultMap>
	<select id="findOne" parameterType="ClassInfo" resultMap="classInfoResultMap">
		SELECT 
			<include refid="columns"/>
		FROM tb_class_info cls
		LEFT JOIN tb_stu_info stu ON cls.id = stu.cls_id
		<where>
			<if test="id != null and id != ''">
				cls.id=#{id}
			</if>
		</where>
	</select>
	<select id="findAll" parameterType="ClassInfo" resultMap="classInfoResultMap">
		SELECT 
			 <include refid="columns"/>
		FROM tb_class_info cls
		LEFT JOIN tb_stu_info stu ON cls.id = stu.cls_id
		<where>
				<if test="id != null and id != ''">
					AND cls.id=#{id}
				</if>
				<if test="className != null and className != ''">
					AND cls.class_name=#{className}
				</if>
				<if test="floor != null and floor != ''">
					AND cls.floor=#{floor}
				</if>
				<if test="createUser != null and createUser != ''">
					AND cls.create_user=#{createUser}
				</if>
				<if test="updateUser != null and updateUser != ''">
					AND cls.update_user=#{updateUser}
				</if>
				<if test="createDate != null and createDate != ''">
					AND cls.create_date=#{createDate}
				</if>
				<if test="updateDate != null and updateDate != ''">
					AND cls.update_date=#{updateDate}
				</if>
		</where>
	</select>
	<insert id="addEntity" parameterType="ClassInfo">
		insert into 
		tb_class_info(
			id,
			class_name,
			floor,
			create_user,
			update_user,
			create_date,
			update_date
		) 
		values(
			#{id},
			#{className},
			#{floor},
			#{createUser},
			#{updateUser},
			#{createDate},
			#{updateDate}
		)
	</insert>
	<update id="updateEntity" parameterType="ClassInfo">
		update 
			tb_class_info 
		<set>
		<if test="id !=null and id !=''">
			id=#{id},
		</if>
		<if test="className !=null and className !=''">
			class_name=#{className},
		</if>
		<if test="floor !=null and floor !=''">
			floor=#{floor},
		</if>
		<if test="createUser !=null and createUser !=''">
			create_user=#{createUser},
		</if>
		<if test="updateUser !=null and updateUser !=''">
			update_user=#{updateUser},
		</if>
		<if test="createDate !=null and createDate !=''">
			create_date=#{createDate},
		</if>
		<if test="updateDate !=null and updateDate !=''">
			update_date=#{updateDate}
		</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteEntity" parameterType="ClassInfo">
		delete from tb_class_info where id=#{id}
	</delete>
	<delete id="deleteBatchEntity" parameterType="ClassInfo">
		delete from tb_class_info 
		WHERE id IN 
		<foreach item="idList" collection="idList"
		open="(" separator="," close=")">
		#{idList}
		</foreach>
	</delete>
</mapper>