<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hplatform.test.mapper.MemberMapper" >
	<sql id="columns">
		m.id AS "id",
		m.member_name AS "memberName",
		m.age AS "age",
		m.height AS "height",
		m.sex AS "sex",
		m.create_user AS "createUser",
		m.update_user AS "updateUser",
		m.create_date AS "createDate",
		m.update_date AS "updateDate",
		mi.id AS "miid",
		mi.member_id AS "mimemberId",
		mi.level AS "milevel",
		mi.phone AS "miphone",
		mi.email AS "miemail",
		mi.create_user AS "micreateUser",
		mi.update_user AS "miupdateUser",
		mi.create_date AS "micreateDate",
		mi.update_date AS "miupdateDate"
	</sql>
	<select id="findOne" parameterType="Member" resultType="Member">
		SELECT 
			<include refid="columns"/>
		FROM tb_member m
        LEFT JOIN tb_member_info mi ON m.id = mi.member_id
		<where>
			<if test="id != null and id != ''">
				m.id=#{id}
			</if>
		</where>
	</select>
	<select id="findAll" parameterType="Member" resultType="Member">
		SELECT 
			 <include refid="columns"/>
		FROM tb_member m
        LEFT JOIN tb_member_info mi ON m.id = mi.member_id
		<where>
				<if test="id != null and id != ''">
					AND m.id=#{id}
				</if>
				<if test="memberName != null and memberName != ''">
					AND m.member_name=#{memberName}
				</if>
				<if test="age != null and age != ''">
					AND m.age=#{age}
				</if>
				<if test="height != null and height != ''">
					AND m.height=#{height}
				</if>
				<if test="sex != null and sex != ''">
					AND m.sex=#{sex}
				</if>
				<if test="createUser != null and createUser != ''">
					AND m.create_user=#{createUser}
				</if>
				<if test="updateUser != null and updateUser != ''">
					AND m.update_user=#{updateUser}
				</if>
				<if test="createDate != null and createDate != ''">
					AND m.create_date=#{createDate}
				</if>
				<if test="updateDate != null and updateDate != ''">
					AND m.update_date=#{updateDate}
				</if>
		</where>
	</select>
	<insert id="addEntity" parameterType="Member">
		insert into 
		tb_member(
			id,
			member_name,
			age,
			height,
			sex,
			create_user,
			update_user,
			create_date,
			update_date
		) 
		values(
			#{id},
			#{memberName},
			#{age},
			#{height},
			#{sex},
			#{createUser},
			#{updateUser},
			#{createDate},
			#{updateDate}
		)
	</insert>
	<update id="updateEntity" parameterType="Member">
		update 
			tb_member 
		<set>
		<if test="id !=null and id !=''">
			id=#{id},
		</if>
		<if test="memberName !=null and memberName !=''">
			member_name=#{memberName},
		</if>
		<if test="age !=null and age !=''">
			age=#{age},
		</if>
		<if test="height !=null and height !=''">
			height=#{height},
		</if>
		<if test="sex !=null and sex !=''">
			sex=#{sex},
		</if>
		<if test="createUser !=null and createUser !=''">
			create_user=#{createUser},
		</if>
		<if test="updateUser !=null and updateUser !=''">
			update_user=#{updateUser},
		</if>
		<if test="createDate !=null and createDate !=''">
			create_date=#{createDate},
		</if>
		<if test="updateDate !=null and updateDate !=''">
			update_date=#{updateDate}
		</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteEntity" parameterType="Member">
		delete from tb_member where id=#{id}
	</delete>
	<delete id="deleteBatchEntity" parameterType="Member">
		delete from tb_member 
		WHERE id IN 
		<foreach item="idList" collection="idList"
		open="(" separator="," close=")">
		#{idList}
		</foreach>
	</delete>
</mapper>