<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hplatform.test.mapper.StuInfoMapper" >
	<sql id="columns">
		stu.id AS "id",
		stu.cls_id AS "clsId",
		stu.stu_name AS "stuName",
		stu.age AS "age",
		stu.sex AS "sex",
		cls.id AS "classInfo.id",
		cls.class_name AS "classInfo.className",
		cls.floor AS "classInfo.floor"
	</sql>
	<select id="findOne" parameterType="StuInfo" resultType="StuInfo">
		SELECT 
			<include refid="columns"/>
		FROM tb_stu_info stu
		LEFT JOIN tb_class_info cls ON cls.id=stu.cls_id
		<where>
			<if test="id != null and id != ''">
				stu.id=#{id}
			</if>
		</where>
	</select>
	<select id="findAll" parameterType="StuInfo" resultType="StuInfo">
		SELECT 
			 <include refid="columns"/>
		FROM tb_stu_info stu
		LEFT JOIN tb_class_info cls ON cls.id=stu.cls_id
		<where>
				<if test="id != null and id != ''">
					AND stu.id=#{id}
				</if>
				<if test="clsId != null and clsId != ''">
					AND stu.cls_id=#{clsId}
				</if>
				<if test="stuName != null and stuName != ''">
					AND stu.stu_name=#{stuName}
				</if>
				<if test="age != null and age != ''">
					AND stu.age=#{age}
				</if>
				<if test="sex != null and sex != ''">
					AND stu.sex=#{sex}
				</if>
		</where>
	</select>
	<insert id="addEntity" parameterType="StuInfo">
		insert into 
		tb_stu_info(
			id,
			cls_id,
			stu_name,
			age,
			sex
		) 
		values(
			#{id},
			#{clsId},
			#{stuName},
			#{age},
			#{sex}
		)
	</insert>
	<update id="updateEntity" parameterType="StuInfo">
		update 
			tb_stu_info 
		<set>
		<if test="id !=null and id !=''">
			id=#{id},
		</if>
		<if test="clsId !=null and clsId !=''">
			cls_id=#{clsId},
		</if>
		<if test="stuName !=null and stuName !=''">
			stu_name=#{stuName},
		</if>
		<if test="age !=null and age !=''">
			age=#{age},
		</if>
		<if test="sex !=null and sex !=''">
			sex=#{sex}
		</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteEntity" parameterType="StuInfo">
		delete from tb_stu_info where id=#{id}
	</delete>
	<delete id="deleteBatchEntity" parameterType="StuInfo">
		delete from tb_stu_info 
		WHERE id IN 
		<foreach item="idList" collection="idList"
		open="(" separator="," close=")">
		#{idList}
		</foreach>
	</delete>
</mapper>