<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id= "facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor" >
        <property name ="pointcut" >
            <bean class="org.springframework.aop.support.JdkRegexpMethodPointcut" >
                <property name="pattern" value="com.hplatform..*.service.*" /><!--正则表达式-->
            </bean>
        </property>
    </bean>
    <bean id="wrappedDataSource" class="net.bull.javamelody.SpringDataSourceFactoryBean">
        <property name="targetName" value="mybatisdataSource" />
    </bean>
    <bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="exposeSchedulerInRepository" value="true"/>
    </bean>

</beans>