<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hplatform.core.mapper.ResourceMapper" >
	<sql id="columns">
		id, name, type, url,icon, permission, parent_id as parentId,
		parent_ids as parentIds, available,
		create_user as "createUser",update_user as "updateUser",
		create_date as "createDate",update_date as "updateDate"
	</sql>
	<insert id="addEntity" parameterType="Resource">
		insert into 
			sys_resource(id,name, type, url,icon, permission, parent_id, parent_ids, available,create_user,update_user,create_date,update_date) 
		values(#{id},#{name},#{type},#{url},#{icon},#{permission},#{parentId},#{parentIds},#{available},#{createUser},#{updateUser},#{createDate},#{updateDate})
	</insert>
	<update id="updateEntity" parameterType="Resource">
		update 
			sys_resource 
		<set>
			<if test="name !=null and name !=''">
				name=#{name},
			</if>
			<if test="type !=null and type !=''">
				type=#{type},
			</if>
			<if test="url !=null">
				url=#{url},
			</if>
			<if test="icon !=null and icon !=''">
				icon=#{icon},
			</if>
			<if test="permission !=null">
				permission=#{permission},
			</if>
			<if test="parentId !=null and parentId !=''">
				parent_id=#{parentId},
			</if>
			<if test="parentIds !=null and parentIds !=''">
				parent_ids=#{parentIds},
			</if>
			<if test="available !=null and available !=''">
				available=#{available},
			</if>
			<if test="createUser !=null and createUser !=''">
				create_user=#{createUser},
			</if>
			<if test="updateUser !=null and updateUser !=''">
				update_user=#{updateUser},
			</if>
			<if test="createDate !=null and createDate !=''">
				create_date=#{createDate},
			</if>
			<if test="updateDate !=null and updateDate !=''">
				update_date=#{updateDate}
			</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteEntity" parameterType="Resource">
		delete from sys_resource where id=#{id}
	</delete>
	<delete id="deleteEntityByParent" parameterType="Resource">
		delete from sys_resource where parent_ids like CONCAT(#{selfPath},'%')
	</delete>
	<select id="findOne" parameterType="Resource" resultType="Resource">
		select 
			<include refid="columns"/>
		from sys_resource 
		<where>
			<if test="id != null and id != ''">
				id=#{id}
			</if>
		</where>
	</select>
	<select id="findAll" parameterType="Resource" resultType="Resource">
		select 
			 <include refid="columns"/>
		from sys_resource 
		order by concat(parent_ids, id) asc
	</select>
	<update id="move" parameterType="HashMap">
		update 
			sys_resource 
		set parent_ids=concat(#{target}, substring(parent_ids, length(#{source})+1)) 
		where parent_ids like CONCAT(#{source},'%')
	</update>
</mapper>