<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hplatform.core.mapper.TableMapper" >
	<sql id="columns">
		a.id AS id,
		a.fg_type AS fg_type,
		a.update_user AS update_user,
		a.update_date AS update_date,
		a.table_name AS table_name,
		a.create_date AS create_date,
		a.pkg AS pkg,
		a.bumodel AS bumodel,
		a.domain_name AS domain_name,
		a.create_user AS create_user,
		a.statu AS statu,
		a.comments AS comments,
		a.relation_type AS relation_type,
		a.gen_flag AS gen_flag,
		a.table_alias AS table_alias,
		a.foreign_key AS foreign_key,
		a.label_name AS label_name,
		a.step AS step,
		a.gen_type AS gen_type,
		b.id AS pid,
		b.fg_type AS pfg_type,
		b.update_user AS pupdate_user,
		b.update_date AS pupdate_date,
		b.table_name AS ptable_name,
		b.create_date AS pcreate_date,
		b.pkg AS ppkg,
		b.bumodel AS pbumodel,
		b.domain_name AS pdomain_name,
		b.create_user AS pcreate_user,
		b.statu AS pstatu,
		b.comments AS pcomments,
		b.relation_type AS prelation_type,
		b.gen_flag AS pgen_flag,
		b.table_alias AS ptable_alias,
		b.foreign_key AS pforeign_key,
		b.label_name AS plabel_name,
		b.gen_type AS pgen_type,
		b.step AS pstep,
		c.id AS cid,
		c.fg_type AS cfg_type,
		c.update_user AS cupdate_user,
		c.update_date AS cupdate_date,
		c.table_name AS ctable_name,
		c.create_date AS ccreate_date,
		c.pkg AS cpkg,
		c.bumodel AS cbumodel,
		c.domain_name AS cdomain_name,
		c.create_user AS ccreate_user,
		c.statu AS cstatu,
		c.comments AS ccomments,
		c.relation_type AS crelation_type,
		c.gen_flag AS cgen_flag,
		c.table_alias AS ctable_alias,
		c.label_name AS clabel_name,
		c.foreign_key AS cforeign_key,
		c.step AS cstep,
		c.gen_type AS cgen_type
	</sql>
	<sql id="leftjoin">
		LEFT JOIN gen_table b ON a.parent_id=b.id
		LEFT JOIN gen_table c ON c.parent_id=a.id
	</sql>
	<resultMap type="Table" id="tableResultMap">
		<id property="id" column="id"></id>
        <result column="fg_type" property="fgType"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_date" property="updateDate"/>
        <result column="table_name" property="tableName"/>
        <result column="create_date" property="createDate"/>
        <result column="pkg" property="pkg"/>
        <result column="bumodel" property="bumodel"/>
        <result column="domain_name" property="domainName"/>
        <result column="create_user" property="createUser"/>
        <result column="statu" property="statu"/>
        <result column="comments" property="comments"/>
        <result column="relation_type" property="relationType"/>
        <result column="gen_flag" property="genFlag"/>
        <result column="table_alias" property="tableAlias"/>
        <result column="foreign_key" property="foreignKey"/>
        <result column="label_name" property="labelName"/>
        <result column="step" property="step"/>
        <result column="gen_type" property="genType"/>
        <association property="parent" column="parent_id" javaType="Table">
	      	<id property="id" column="pid"></id>
	        <result column="pfg_type" property="fgType"/>
	        <result column="pupdate_user" property="updateUser"/>
	        <result column="pupdate_date" property="updateDate"/>
	        <result column="ptable_name" property="tableName"/>
	        <result column="pcreate_date" property="createDate"/>
	        <result column="ppkg" property="pkg"/>
	        <result column="pbumodel" property="bumodel"/>
	        <result column="pdomain_name" property="domainName"/>
	        <result column="pcreate_user" property="createUser"/>
	        <result column="pstatu" property="statu"/>
	        <result column="pcomments" property="comments"/>
        	<result column="prelation_type" property="relationType"/>
        	<result column="pgen_flag" property="genFlag"/>
	        <result column="ptable_alias" property="tableAlias"/>
	        <result column="pforeign_key" property="foreignKey"/>
        	<result column="plabel_name" property="labelName"/>
        	<result column="pstep" property="step"/>
			<result column="pgen_type" property="genType"/>
	    </association>
        <collection property="childs" javaType="list" ofType="Table">
            <id property="id" column="cid"></id>
	        <result column="cfg_type" property="fgType"/>
	        <result column="cupdate_user" property="updateUser"/>
	        <result column="cupdate_date" property="updateDate"/>
	        <result column="ctable_name" property="tableName"/>
	        <result column="ccreate_date" property="createDate"/>
	        <result column="cpkg" property="pkg"/>
	        <result column="cbumodel" property="bumodel"/>
	        <result column="cdomain_name" property="domainName"/>
	        <result column="ccreate_user" property="createUser"/>
	        <result column="cstatu" property="statu"/>
	        <result column="ccomments" property="comments"/>
        	<result column="crelation_type" property="relationType"/>
        	<result column="cgen_flag" property="genFlag"/>
	        <result column="ctable_alias" property="tableAlias"/>
	        <result column="cforeign_key" property="foreignKey"/>
        	<result column="clabel_name" property="labelName"/>
        	<result column="cstep" property="step"/>
			<result column="cgen_type" property="genType"/>
        </collection>
	</resultMap>
	<select id="findOne" parameterType="Table" resultMap="tableResultMap">
		select 
			<include refid="columns"/>
		from gen_table a
		<include refid="leftjoin"></include>
		<where>
			<if test="id != null and id != ''">
				a.id=#{id}
			</if>
		</where>
	</select>
	<select id="findAll" parameterType="Table" resultMap="tableResultMap">
		select 
			 <include refid="columns"/>
		from gen_table a
		<include refid="leftjoin"></include>
		<where>
				<if test="id != null and id != ''">
					a.id=#{id}
				</if>
				<if test="updateUser != null and updateUser != ''">
					AND a.update_user=#{updateUser}
				</if>
				<if test="updateDate != null and updateDate != ''">
					AND a.update_date=#{updateDate}
				</if>
				<if test="tableName != null and tableName != ''">
					AND a.table_name=#{tableName}
				</if>
				<if test="createDate != null and createDate != ''">
					AND a.create_date=#{createDate}
				</if>
				<if test="pkg != null and pkg != ''">
					AND a.pkg=#{pkg}
				</if>
				<if test="bumodel != null and bumodel != ''">
					AND a.bumodel=#{bumodel} 
				</if>
				<if test="domainName != null and domainName != ''">
					AND a.domain_name=#{domainName}
				</if>
				<if test="createUser != null and createUser != ''">
					AND a.create_user=#{createUser}
				</if>
				<if test="statu != null and statu != ''">
					AND a.statu=#{statu}
				</if>
				<if test="fgType != null and fgType != ''">
					AND a.fg_type=#{fgType}
				</if>
				<if test="comments != null and comments != ''">
					AND a.comments=#{comments}
				</if>
				<if test="parent != null">
					AND a.parent_id=#{parent.id}
				</if>
				<if test="genFlag != null and genFlag != ''">
					AND a.gen_flag=#{genFlag}
				</if>
				<if test="tableAlias != null and tableAlias != ''">
					AND a.table_alias=#{tableAlias}
				</if>
				<if test="foreignKey != null and foreignKey != ''">
					AND a.foreign_key=#{foreignKey}
				</if>
				<if test="step != null and step != ''">
					AND a.step=#{step}
				</if>
				<if test="genType != null and genType != ''">
					AND a.gen_type=#{genType}
				</if>
		</where>
		order by a.create_date desc
	</select>
	<insert id="addEntity" parameterType="Table">
		insert into 
		gen_table(
			id,
			update_user,
			update_date,
			table_name,
			create_date,
			pkg,
			bumodel,
			domain_name,
			create_user,
			statu,
			comments,
			fg_type,
			parent_id,
			relation_type,
			gen_flag,
			foreign_key,
			table_alias,
			step,
			label_name,
			gen_type
		) 
		values(
			#{id},
			#{updateUser},
			#{updateDate},
			#{tableName},
			#{createDate},
			#{pkg},
			#{bumodel},
			#{domainName},
			#{createUser},
			#{statu},
			#{comments},
			#{fgType},
			#{parent.id},
			#{relationType},
			#{genFlag},
			#{foreignKey},
			#{tableAlias},
			#{step},
			#{labelName},
			#{genType}
		)
	</insert>
	<update id="updateEntity" parameterType="Table">
		update 
		gen_table 
		<set>
		<if test="id !=null and id !=''">
		id=#{id},
		</if>
		<if test="updateUser !=null and updateUser !=''">
		update_user=#{updateUser},
		</if>
		<if test="updateDate !=null and updateDate !=''">
		update_date=#{updateDate},
		</if>
		<if test="tableName !=null and tableName !=''">
		table_name=#{tableName},
		</if>
		<if test="createDate !=null and createDate !=''">
		create_date=#{createDate},
		</if>
		<if test="pkg !=null and pkg !=''">
		pkg=#{pkg},
		</if>
		<if test="bumodel !=null and bumodel !=''">
		bumodel=#{bumodel},
		</if>
		<if test="domainName !=null and domainName !=''">
		domain_name=#{domainName},
		</if>
		<if test="createUser !=null and createUser !=''">
		create_user=#{createUser},
		</if>
		<if test="statu !=null and statu !=''">
		statu=#{statu},
		</if>
		<if test="comments !=null and comments !=''">
		comments=#{comments},
		</if>
		<if test="fgType !=null and fgType !=''">
		fg_type=#{fgType},
		</if>
		<if test="relationType !=null and relationType !=''">
		relation_type=#{relationType},
		</if>
		<if test="foreignKey !=null and foreignKey !=''">
		foreign_key=#{foreignKey},
		</if>
		<if test="tableAlias !=null and tableAlias !=''">
		table_alias=#{tableAlias},
		</if>
		<if test="labelName !=null and labelName !=''">
		label_name=#{labelName},
		</if>
		<if test="step !=null and step !=''">
		step=#{step},
		</if>
		<if test="genType !=null and genType !=''">
		gen_type=#{genType},
		</if>
		<if test="genFlag !=''">
		gen_flag=#{genFlag},
		</if>
		<if test="parent !=null">
		parent_id=#{parent.id}
		</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteEntity" parameterType="Table">
		delete from gen_table where id=#{id}
	</delete>
	<delete id="deleteBatchEntity" parameterType="Table">
		delete from gen_table 
		WHERE id IN 
		<foreach item="idList" collection="idList"
		open="(" separator="," close=")">
		#{idList}
		</foreach>
	</delete>
	<!--创建表-->
	<update id="createTable" parameterType="Table">
		DROP TABLE IF EXISTS `#{tableName}`;
		CREATE TABLE `#{tableName}` (
			`id` char(32) NOT NULL,
			<foreach item="columnList" collection="columnList"
					 open="" separator="" close="">
			`#{columnList.columnName}` #{columnList.columnType} <if test="columnList.nullAble=='YES'">DEFAULT NULL</if><if test="columnList.nullAble=='NO'">NOT NULL</if> COMMENT '#{columnList.comments}',
			</foreach>
			`create_user` char(32) DEFAULT NULL,
			`create_date` datetime DEFAULT NULL,
			`update_user` char(32) DEFAULT NULL,
			`update_date` datetime DEFAULT NULL,
			PRIMARY KEY (`id`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	</update>
</mapper>